<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsubriaSocial"
        tools:targetApi="31">
        <activity
            android:name=".PaginaModificaBiografia"
            android:exported="false" />
        <activity
            android:name=".PaginaElencoChat"
            android:exported="false" />
        <activity
            android:name=".PaginaChat"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PaginaModificaUsernamePt2"
            android:exported="false" />
        <activity
            android:name=".PaginaModificaUsername"
            android:exported="false" />
        <activity
            android:name=".PaginaApplicaFiltro"
            android:exported="false" />
        <activity
            android:name=".PaginaProfiloUtente"
            android:exported="false" />
        <activity
            android:name=".PaginaModificaAnnuncio"
            android:exported="false" />
        <activity
            android:name=".PaginaAggiungiBacheca"
            android:exported="false" />
        <activity
            android:name=".PaginaApplicazioneProfilo"
            android:exported="false" />
        <activity
            android:name=".PaginaApplicazioneBacheca"
            android:exported="false" />
        <activity
            android:name=".PaginaApplicazioneCerca"
            android:exported="false" />
        <activity
            android:name=".PaginaApplicazioneHome"
            android:exported="false" />
        <activity
            android:name=".PaginaRecuperoPasswordSuccesso"
            android:exported="false" />
        <activity
            android:name=".PaginaRecuperoPasswordPt2"
            android:exported="false" />
        <activity
            android:name=".PaginaRecuperoPassword"
            android:exported="false" />
        <activity
            android:name=".PaginaRegistrazione"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".PaginaAccesso"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>